<!DOCTYPE html>
<html>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href = "/static/home.css" type= "text/css" rel="stylesheet">

</head>
<body>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Be Social</title>
</head>

<body>
    <div class="banner-area">
    <header>
           <div class="menu">
                <ul>
                    <li><a href="home">Home</a></li>
                    
                    
                </ul>
            </div>

        </header>
        <div class="banner-text">
            <h1>Be Social</h1>
            <p>Hello this is BE SOCIAL where you can intercat with everybody that is on the platform by posting pictures and decorating your profile to your needs.</p>
            <a href="sign-up">SIGN UP</a>
            <a href="sign-in">SIGN IN</a>
        </div>


    </div>
</body>














































</html>